USE [master]
GO
/****** Objeto: Database [Pro_videojuegosSOAP] Fecha de script: 9/9/2026 16:02:12 ******/
CREATE DATABASE [Pro_videojuegosSOAP]
GO

USE [Pro_videojuegosSOAP]
GO
/****** Objeto: Table [dbo].[Categorias] Fecha de script: 9/9/2026 16:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Movimiento_Inventario] Fecha de script: 9/9/2026 16:02:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimiento_Inventario](
	[IdMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[TipoMovimiento] [varchar](10) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[FechaMovimiento] [datetime2](0) NOT NULL,
	[Observacion] [varchar](500) NULL,
 CONSTRAINT [PK_MovimientoInventario] PRIMARY KEY CLUSTERED 
(
	[IdMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Productos] Fecha de script: 9/9/2026 16:02:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdCategoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Acción', N'Videojuegos de combate, aventura y acción', 1)
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Deportes', N'Videojuegos de fútbol, carreras y otros deportes', 1)
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Estrategia', N'Videojuegos que requieren planificación y estrategia', 1)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Movimiento_Inventario] ON 

INSERT [dbo].[Movimiento_Inventario] ([IdMovimiento], [IdProducto], [TipoMovimiento], [Cantidad], [FechaMovimiento], [Observacion]) VALUES (1, 10, N'ENTRADA', 5, CAST(N'2026-09-03T11:07:46.0000000' AS DateTime2), N'Entrada de prueba de inventario')
INSERT [dbo].[Movimiento_Inventario] ([IdMovimiento], [IdProducto], [TipoMovimiento], [Cantidad], [FechaMovimiento], [Observacion]) VALUES (2, 10, N'SALIDA', 5, CAST(N'2026-09-03T11:08:48.0000000' AS DateTime2), N'Salida de prueba de inventario')
INSERT [dbo].[Movimiento_Inventario] ([IdMovimiento], [IdProducto], [TipoMovimiento], [Cantidad], [FechaMovimiento], [Observacion]) VALUES (1002, 1, N'ENTRADA', 2, CAST(N'2026-09-09T15:32:51.0000000' AS DateTime2), N'ninguno')
SET IDENTITY_INSERT [dbo].[Movimiento_Inventario] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto], [Nombre], [Descripcion], [Precio], [Stock], [Estado], [IdCategoria]) VALUES (1, N'God of War Ragnarök', N'Videojuego de acción y aventura', CAST(69.99 AS Decimal(10, 2)), 17, 1, 1)
INSERT [dbo].[Productos] ([IdProducto], [Nombre], [Descripcion], [Precio], [Stock], [Estado], [IdCategoria]) VALUES (2, N'EA Sports FC 26', N'Videojuego de fútbol', CAST(59.99 AS Decimal(10, 2)), 20, 1, 2)
INSERT [dbo].[Productos] ([IdProducto], [Nombre], [Descripcion], [Precio], [Stock], [Estado], [IdCategoria]) VALUES (3, N'Age of Empires IV', N'Videojuego de estrategia en tiempo real', CAST(39.99 AS Decimal(10, 2)), 15, 1, 3)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
/****** Objeto: Index [IX_MovimientoInventario_IdProducto] Fecha de script: 9/9/2026 16:02:14 ******/
CREATE NONCLUSTERED INDEX [IX_MovimientoInventario_IdProducto] ON [dbo].[Movimiento_Inventario]
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Movimiento_Inventario] ADD  CONSTRAINT [DF_MovimientoInventario_Fecha]  DEFAULT (sysdatetime()) FOR [FechaMovimiento]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Movimiento_Inventario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoInventario_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[Movimiento_Inventario] CHECK CONSTRAINT [FK_MovimientoInventario_Productos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([IdCategoria])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
ALTER TABLE [dbo].[Movimiento_Inventario]  WITH CHECK ADD  CONSTRAINT [CK_MovimientoInventario_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[Movimiento_Inventario] CHECK CONSTRAINT [CK_MovimientoInventario_Cantidad]
GO
ALTER TABLE [dbo].[Movimiento_Inventario]  WITH CHECK ADD  CONSTRAINT [CK_MovimientoInventario_Tipo] CHECK  (([TipoMovimiento]='SALIDA' OR [TipoMovimiento]='ENTRADA'))
GO
ALTER TABLE [dbo].[Movimiento_Inventario] CHECK CONSTRAINT [CK_MovimientoInventario_Tipo]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_Precio] CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_Precio]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_Stock] CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_Stock]
GO
USE [master]
GO
